@font-face {
    font-family: 'googleSans';
    src: url('../../assets/fonts/GoogleSans/GoogleSans_17pt-Regular.ttf');
}

.login-main {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'googleSans';
}
 
.login-content {
    width: 25%;
    border: 1px solid #ffffff21;
    border-radius: 5px;
    padding: 2rem;
}

.login-logo, .login-form {
    display: flex;
    justify-content: center;
}

.login-form>div {
    width: 100%;
}

.login-form>div>div:first-child {
    text-align: center;
    margin: 2rem 0;
}

.login-form h1 {
    font-size: 1.2rem;
}

.login-form form>div>div {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.login-form input {
    border: 1px solid #ffffff21;
    border-radius: 5px;
    height: 2rem;
    color: white;
    padding: 0 0 0 10px;
    margin: 5px 0;
}

.login-form label {
    font-size: .9rem;
}

.login-form button {
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 100%;
    height: 2rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.login-form button:hover {
    background-color: rgba(255, 255, 255, 0.87);
}

.login-form>div>div:last-child {
    margin-top: 2rem;
}

.login-login-link {
    color: rgba(255, 255, 255, 0.842);
    text-decoration: underline;
}

.login-content hr {
    margin: 2rem 0;
    background-color: #ffffff21;
}

.right-image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.right-image img {
    width: 300px;
}