@font-face {
    font-family: 'googleSans';
    src: url('../../assets/fonts/GoogleSans/GoogleSans_17pt-Regular.ttf');
}

.login-main {
    display: flex;
    min-height: 100vh;
    font-family: 'googleSans';
}

/* LEFT SIDE */
.login-main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1.5rem, 4vw, 4rem);
    background-color: white;
}

.login-main-content > div {
    width: 100%;
    max-width: 420px;
}

/* HEADER */
.login-main-content div:first-child {
    text-align: center;
    margin-bottom: 2rem;
}

.login-main-content img {
    width: clamp(100px, 8vw, 120px);
    margin-bottom: 1rem;
}

/* FORM */
.login-main form {
    display: flex;
    flex-direction: column;
}

.login-main form input {
    height: clamp(42px, 4vw, 48px);
    border: 1px solid #dbdadee6;
    border-radius: 8px;
    padding-left: 16px;
    margin: 8px 0;
    font-size: clamp(14px, 1vw, 15px);
    color: #0d0c22;
    outline: none;
}

.login-main form input:focus {
    border: 1px solid #8d8d8de6;
}

.login-main form button {
    margin-top: 1.3rem;
    height: clamp(42px, 4vw, 48px);
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color .2s ease-in-out;
}

.login-main form button:hover {
    background-color: rgba(0, 0, 0, 0.74);
}

/* FOOTER */
.login-main-content div:last-child {
    margin-top: 1.5rem;
}

.login-main-content div:last-child p {
    text-align: center;
    font-size: clamp(11px, 0.9vw, 12px);
    line-height: 1.4;
    margin: 8px 0;
}

.login-main-content div:last-child a {
    color: #7b7194;
}

.login-bg {
    flex: 1;
    background: url('../../assets/img/login-bg.jpg');
    background-position: center;
    background-size: cover;
}

/* ======= RESPONSIVE ======= */
@media (max-width: 900px) {
    .login-bg {
        display: none;
    }
}

@media (max-width: 500px) {
    .login-main-content > div {
        max-width: 100%;
    }
}
